.posts {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

.bg-pic {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/adventure-blur-close-up-346885.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px);
    -webkit-filter: blur(3px) brightness(80%);
    z-index: -999999;
    min-height: 800px;
    position: fixed;
}

.space {
    height: 15vh
}


.spinner{
    position: fixed;
    right: 50%;
    transform: translate(50%,20vh)
}