.mainWrapper {
    display: grid;
    grid-template-columns: minmax(200px, 20vw);
    grid-template-rows: 48px auto;
    grid-template-areas: "header header" "sidebar content" "sidebar content";
    height: 100vh;
    background-color: #86bbd8;
    min-height: 800px;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: sidebar;
}