<!-- <div class="wrapper">
    <div class="row ">
        <div>
            <form
                #loginForm="ngForm"
                (ngSubmit)="onSubmit(loginForm)"
            >
                <div class="form-group">
                    <label for>E-mail</label>
                    <div class="row">
                        <input
                            type="email"
                            class="form-control"
                            id="email"
                            ngModel
                            name="email"
                            required
                            email
                            placeholder="Enter E-mail"
                        >
                    </div>

                </div>
                <br>
                <div class="form-group">
                    <label for>Password</label>
                    <div class="row">
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            ngModel
                            name="password"
                            required
                            minlength="6"
                            placeholder="Enter Pssword"
                        >
                    </div>
                </div>
                <br>
                <br>
                <hr>
                <br>
                <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!loginForm.valid"
                >
                    Submit
                </button>
            </form>
        </div>

    </div>
</div>
 -->