<div class="main-wrapper">
    <div class="title">{{post.title}}</div>
    <div class="startDate">{{post.startDate | date}}</div>
    <div class="endDate">{{post.endDate | date}}</div>
    <div class="descr">{{post.descr}}</div>
    <div class="qualification">{{post.qualifications}}</div>
    <div class="payment"> {{post.payment}}</div>
    <div class="additionalInfo">{{post.additionalInfo}}</div>
    <div class="whatIsOffered">{{post.whatIsOffered}}</div>
    <div class="author">{{post.user.email}}</div>
</div>
