nav {
    background-color: #33658a;
    border-color: transparent ;
    height: 100%;

}
a {
    color: rgb(255, 255, 255) ;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
    

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-height: fit-content !important;
  }

  
.active{
    background-color:#f6ae2d;
    min-height: fit-content !important;

}